name: build
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  build:
    name: Build
    runs-on: ubuntu-18.04
    steps:
      - name: Set selected color
        run: env
      - name: hello
        run: echo  ${{ label }}
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run Trivy vulnerability scanner in IaC mode test
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'vuln'
          hide-progress: false
          format: 'table'
        env:
          AQUA_KEY: ${{ secrets.AQUA_KEY }}
          AQUA_SECRET: ${{ secrets.AQUA_SECRET }}
          AQUA_URL: ${{ secrets.AQUA_URL }}
          CSPM_URL: ${{ secrets.CSPM_URL }}
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          TRIGGERED_BY: 'PR'
          TRIVY_RUN_AS_PLUGIN: 'aqua'
